@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@400;600;800&display=swap');

/* CSS variables */

:root{
  --ivory: rgba(252, 252, 247, 1);
  --light-moss: rgba(216, 218, 205, 1);
  --light-moss-2: rgba(216, 218, 205, 0.5);
  --dark-moss: rgba(60, 84, 54, 1);
  --bright-green: rgba(150, 168, 12, 1);
  --green-black: rgba(34, 30, 19, 1);
  --green-black-2: rgba(34, 30, 19, 0.5);
}

/* general set up */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Poppins", sans-serif;
  font-size: 16px;
  color: var(--green-black);
  background-color: var(--ivory);
}

h1, h2{
  font-family: 'Calistoga', cursive;
}

h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

a{
  color: var(--bright-green);
  text-decoration: none;
  font-weight:bold;
}

/* Header */

nav {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to right, var(--ivory), var(--ivory), transparent);
  z-index: 2;
  padding: 0 16px;
}

nav a {
  display: inline-block;
  padding: 8px 16px;
  color: var(--dark-moss);
}

nav a:hover {
  padding-bottom: 6px;
  color: var(--bright-green);
  border-bottom: 2px solid var(--bright-green);
}

#hero{
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1531129915305-9e84bb5a4b15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-items: center;
}

#hero h1{
  color: var(--ivory);
  text-shadow: 0px 0px 8px var(--green-black);
  font-size: 48px;
  padding: 32px;
  text-align: center;
}

section{
  padding: 32px;
}

img{
  width: 100%;
  object-fit: cover;
}

#author img {
  height: 300px;
}

#author>div{
  background-color: var(--dark-moss);
  padding: 24px;
  color: var(--ivory);
  margin-top: -7px;
  border-radius: 0 0 16px 16px;
}

#discover, #horse-friendly{
  background-color: var(--light-moss);
}

#discover>a>div{
  margin-bottom: 24px;
}

#discover>a:last-of-type>div{
  margin-bottom: 0;
}

.icon {
  background-color: var(--ivory);
  border-radius: 100%;
  padding: 16px;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  display: grid;
  place-items: center;
  margin:0 auto 8px auto;
  border: 1px solid var(--dark-moss);
}

a h3{
  font-size: 16px;
  text-align: center;
}

#discover a:hover .icon{
  background-color: var(--bright-green);
}

#discover a:hover{
/*   text-decoration: underline; */
  color: var(--dark-moss);
}

#fav, #equipment{
  background-color: var(--dark-moss);
  color: var(--ivory);
}

#fav img{
  display: block;
  margin-bottom: 16px;
}

ul, ol {
  background-color: var(--light-moss-2);
  padding: 16px 16px 16px 32px;
  border-radius: 0 16px 16px 0;
  color: var(--green-black);
}

#fav ul {
  margin-bottom: 16px;
}

li {
  margin-bottom: 8px;
}

li:last-of-type{
  margin-bottom: 0;
}

li span{
  font-weight: bold;
  margin-right: 8px;
}

#map>div{
  position: relative;
  margin-bottom: 16px;
}

.trail-marker{
  position: absolute;
  font-weight: 800;
}

.trail-marker:hover{
  color: var(--ivory);
}

#a{
  top: 15%;
  left: 40%;
}

#b{
  top: 35%;
  left: 44%;
}

#c{
  top: 5%;
  left: 80%;
}

#d{
  top: 50%;
  left: 60%;
}

#e{
  top: 45%;
  left: 58%;
}

#f{
  top: 30%;
  left: 50%;
}

#g{
  top: 80%;
  left: 65%;
}

#h{
  top: 30%;
  left: 70%;
}

#k{
  top: 40%;
  left: 75%;
}

ol li a:hover{
  font-weight: bold;
  color: var(--dark-moss);
}

.trail-card {
  box-shadow: 0 0 8px var(--green-black-2);
  padding: 16px;
  margin-bottom: 24px;
  background-color: var(--ivory);
}

.trail-card:last-of-type {
  margin-bottom: 0;
}

.trail-card h3{
  margin: 0;
}

.trail-card img{
  height: 300px;
  width: 100%;
}

.trail-card a:hover{
  color: var(--dark-moss);
  font-weight: bold;
}

table{
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--light-moss);
  text-align: left;
  padding: 8px;
}

td a:hover{
  color: var(--light-moss-2);
}

aside{
  background-color: var(--green-black);
  color: var(--ivory);
  text-align: center;
  padding: 32px;
}

aside a:hover{
  color: var(--light-moss-2);
}

footer{
  padding: 32px;
}

footer p {
  text-align:center;
}

/* Layout work */

#author img, #author div{
  max-width: 500px;
  display: block;
  margin: auto;
}

.trail-card{
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  #discover>div{
    display: flex;
    column-gap: 24px;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 800px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin-bottom: 24px;
  }
  
  nav {
  padding: 0 40px;
}
  #hero h1{
  padding: 56px;
}

section{
  padding: 56px;
}
  
  #author{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  
  #author h2{
    grid-column: 1/10;
  }
  
  #author img{
    grid-column: 1/7;
    grid-row: 2/3;
    height: 450px;
    max-width: 700px;
    border-radius: 0 64px 64px 0;
  }
  
  #author div{
    grid-column: 5/10;
    grid-row: 2/3;
    border-radius: 0 16px 16px 0;
  }

  #fav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  
  #fav h2{
    grid-column: 1/3;
  }

  #fav img{
    grid-column: 1/2;
    height: 100%;
    max-height: 100%;
  }
  
  #map{
    overflow: hidden;
  }
  
  #map>div{
    width: 70%;
    float: left;
  }
  
  #map>ol{
    width: 27%;
    float: right;
  }
  
  #horse-friendly{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  
  #horse-friendly h2{
    grid-column: 1/3;
  }
}

@media only screen and (min-width: 1000px) {
   #fav>div ul{
    width: 50%;
    float: left;
     margin-right: 24px;
  }
  
  #fav>div{
    overflow: hidden;
  }

  
  #horse-friendly{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #horse-friendly h2{
    grid-column: 1/4;
  }
  
  .trail-card{
    margin: 0;
  }
  
}

/* dark mode */
.darkmode {
  background-color: black;
  color: white;
}
